
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: url("/assets/greenhouse.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
  background-color: #063970;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
}


ul li button {
  display: block;
  padding: 20px 20px;
  color: black;
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  width: 100%;
}


ul li ul.dropdown button {
  display: block;
  
  border: none;
}

ul li ul.dropdown {
  width: 100%;
  background: #22438C;
  position: absolute;
  z-index: 1000;
  display: none;
  
}

ul li a:hover {
  color: #154c79;
}

ul li:hover ul.dropdown {
  display: block;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.graphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: cover;
}


.graphObjectContainer {
  width: 100%;
  max-width: 600px;
  height: 40%;
  margin: auto;
  margin-top: 30px;
}

